<div class="route-list">
    <h2>Routes</h2>

    <div *ngIf="loading" class="loading">
        Loading routes...
    </div>

    <div *ngIf="error" class="error">
        {{ error }}
    </div>

    <div *ngIf="!loading && !error" class="routes-container">
        <div *ngFor="let route of routes" class="route-item">
            <span class="route-name">{{ route.name }}</span>
            <button class="edit-button" (click)="editRouteName(route)" title="Edit Route Name">
                <span class="material-icons">edit</span>
            </button>
            <button class="delete-button" (click)="deleteRoute(route)" title="Delete Route">
                <span class="material-icons">delete</span>
            </button>
            <button [routerLink]="['/routes', route.id, 'map']" class="view-button">
                View Map
            </button>
            <button [routerLink]="['/routes', route.id, 'chart']" class="view-button">
                View Chart
            </button>
        </div>
    </div>
</div>