<div class="route-detail">
    <div class="header">
        <h2>Route Details</h2>
        <button [routerLink]="['/routes']" class="back-button">Back to Route List</button>
    </div>

    <div class="content-wrapper">
        <div class="map-container">
            <div *ngIf="loading" class="loading">Loading route data...</div>
            <div *ngIf="error" class="error">{{ error }}</div>
            <div *ngIf="!loading && !error" #mapRef id="mapRef"></div>
        </div>

        <div class="legend">
            <h4>Radiation Levels (µSv/h)</h4>
            <div class="legend-items">
                <div class="legend-item" *ngFor="let item of legendItems">
                    <i [style.background-color]="item.color"></i>
                    <span class="range">{{item.range}}</span>
                    <span class="label">{{item.label}}</span>
                </div>
            </div>
        </div>
    </div>
</div>