<div class="route-chart">
    <div class="header">
        <div class="title-section">
            <h2>{{routeName}}</h2>
            <button (click)="refreshData()" class="refresh-button" title="Refresh Data">
                <span class="material-icons">refresh</span>
            </button>
        </div>
        <div class="header-buttons">
            <button [routerLink]="['/routes']" class="back-button">Back to List</button>
        </div>
    </div>

    <div class="chart-container">
        <canvas #chartCanvas></canvas>
    </div>

    <div class="chart-container">
        <canvas #chartCanvasCpm></canvas>
    </div>
</div>